// HEADER

.header
{
    background: #333;
    overflow: hidden;
    border-top: 2px solid #1db8ea;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav
{
    margin: 0 100px;
    overflow: hidden;
    height: 54px;

    &__menu
    {
        float: left;

        & li
        {
            display: inline-block;
            line-height: 54px;
            margin-right: 30px;

            &:last-of-type
            {
                margin-right: 0;
            }

            &:nth-of-type(1) a:before
            {
                content: '\e88a';
            }

            &:nth-of-type(2) a:before
            {
                content: '\e158';
            }

            &:nth-of-type(3) a:before
            {
                content: '\e0c8';
            }

            &:nth-of-type(4) a:before
            {
                content: '\e24c';
            }

            &:nth-of-type(5) a:before
            {
                content: '\e0da';
            }
        }

        & a
        {
            text-decoration: none;
            font-weight: 400;
            display: block;
            padding: 0 0 0 24px;
            position: relative;
            transition: .5s linear all;

            &:before
            {
                font-family: 'Material Icons';
                display: inline-block;
                font-weight: 400;
                position: absolute;
                left: 0;
                top: 0;
                transition: .5s linear all;
            }

            &:hover,
            &:hover:before
            {
                color: #3797a3;
            }

            &:hover:before
            {
                transform: rotateY(360deg);
            }
        }
    }

    &__options
    {
        float: right;

        & li
        {
            display: inline-block;
            line-height: 54px;
            font-weight: 400;
            transition: .5s linear all;
            cursor: pointer;

            &:first-of-type
            {
                margin-right: 30px;
            }

            &:after
            {
                content: '\e313';
                font: 400 18px/18px 'Material Icons';
                font-family: 'Material Icons';
                padding-left: 4px;
                vertical-align: -1px;
            }

            &:hover
            {
                color: #3797a3;
            }
        }
    }
}

// BANNER

.banner
{
    background: url(../img/header_bg.jpg) center right no-repeat;
    background-size: contain;
    height: 500px;
    position: relative;
    margin-top: 58px;

    &__slogan
    {
        position: absolute;
        top: 40%;
        left: 16%;

        & h1
        {
            font-size: 40px;
            background: transparent;
            font-family: 'Nothing You Could Do';
            text-align: center;
            text-shadow: 0 4px 8px rgba(55,151,163,.5);
            position: relative;

            &:after
            {
                content: '';
                position: absolute;
                top: -64px;
                left: 50%;
                margin-left: -35px;
                background: url('../img/logo.png') center no-repeat;
                background-size: contain;
                width: 70px;
                height: 70px;
            }
        }
    }
}

// TITLE

.title
{
    height: 54px;
    background: #333;
    border-top: 2px solid #1db8ea;
    border-bottom: 2px solid #1db8ea;

    & h2
    {
        font: 30px/54px 'Sofia';
        text-align: center;
        color: #1db8ea;
    }
}

// CONTENT

.main
{
    display: flex;
    margin: 40px 100px;

    &__nav,
    &__sidebar
    {
        width: 29%;
        justify-content: space-between;
        background: #333;
        border-right: 2px solid #1db8ea;
        border-left: 2px solid #1db8ea;
        box-sizing: border-box;

        & h4
        {
            font: 400 26px 'Sofia';
            text-align: center;
            margin: 30px 0;
            transition: color .2s linear;
        }

        & li
        {
            height: 40px;
            margin-bottom: 4px;
            background: #333;
            padding: 0 20px;
            font: 400 20px/40px 'Sofia';
            transition: background .2s linear;

            & label
            {
                cursor: pointer;
            }

            &:last-of-type
            {
                margin-bottom: 0;
            }

            &:hover
            {
                background: #1db8ea;
            }
        }

        &:hover
        {

            & h4
            {
                color: #1db8ea;
            }
        }
    }

    &__content
    {
        flex-basis: 90%;
        margin: 0 8px;
        display: flex;
        flex-wrap: wrap;
    }

    &__sidebar
    {
        padding: 0 20px;
        box-sizing: border-box;
        align-self: flex-start;

        & label
        {
            font: 400 18px 'Sofia';
            padding-left: 20px;
            position: relative;
            cursor: pointer;

            &:before
            {
                content: '';
                position: absolute;
                top: 9px;
                left: 0;
                width: 12px;
                height: 12px;
                border-radius: 3px;
                background: #858586;
                transition: background .2s linear;
            }
        }

        & input
        {
            display: none;

            &:checked + label:before
            {
                background: #1db8ea;
            }

            &:checked ~ .progress-bar
            {
                & .progress-bar__item:nth-of-type(1)
                {
                    order: 2;
                }

                & .progress-bar__item:nth-of-type(2)
                {
                    order: 3;
                }

                & .progress-bar__item:nth-of-type(3)
                {
                    order: 1;
                }

                & .progress-bar__item:nth-of-type(4)
                {
                    order: 4;
                }
            }
        }
    }

    & > input
    {
        display: none;
    }
}

.progress-bar
{
    padding: 20px 0;
    display: flex;
    flex-direction: column;

    &__item
    {
        margin-bottom: 10px;
        overflow: hidden;

        & h5
        {
            font-size: 18px;
            font-weight: 400;
            font-family: 'Sofia';
        }

        & > span
        {
            float: right;
            font: 400 18px 'Sofia';
        }
    }

    &__line
    {
        height: 16px;
        width: 80%;
        margin-top: 6px;
        float: left;

        &_range
        {
            &--1,
            &--2,
            &--3,
            &--4
            {
                background: linear-gradient(to right,  rgba(255,131,115,1) 0%
                ,rgba(125,185,232,0) 100%);
            }

            &--5,
            &--6,
            &--7,
            &--8
            {
                background: linear-gradient(to right, rgba(255,228,115,1) 0%
                ,rgba(125,185,232,0) 100%);
            }

            &--9,
            &--10
            {
                background: linear-gradient(to right, rgba(100,223,133,1) 0%
                ,rgba(125,185,232,0) 100%);
            }

            &--9
            {
                width: 80%;
            }

            &--8
            {
                width: 70%;
            }

            &--10
            {
                width: 90%;
            }

            &--4
            {
                width: 30%;
            }
        }
    }
}

// CATS

.cats:checked ~ .cats .cats-item
{
    filter: grayscale(100%);
    box-shadow: inset 0 0 8px rgba(0,0,0,.7);
    opacity: .5;
}

.cats
{
    &-item
    {
        width: 31.3%;
        height: 300px;
        position: relative;
        margin: 1%;
        border-radius: 4px;
        box-shadow: 0 0 4px rgba(133,133,134,.5);
        transition: box-shadow .2s linear;

        &:hover
        {
            box-shadow: 0 0 8px rgba(55,151,163,.7);
        }

        & img
        {
            max-width: 90%;
            max-height: 90%;
            position: absolute;
            top: 5%;
            left: 5%;
            right: 5%;
            bottom: 5%;
            margin: auto;
        }

        &:nth-of-type(8n - 6)
        {
            width: 64.6%;
        }

        &:nth-of-type(8n - 2)
        {
            width: 64.6%;
        }

        &:nth-of-type(8n)
        {
            width: 98%;
        }

        &__name
        {
            opacity: 0;
            height: 60px;
            width: 80%;
            background: #1db8ea;
            border-radius: 0 6px 6px 0;
            position: absolute;
            bottom: 20px;
            left: 0;
            overflow: hidden;
            transition: opacity .2s linear;

            & span
            {
                font-size: 20px;
                font-family: 'Sofia';
                text-align: center;
                line-height: 60px;
                color: #333;
                display: block;
            }
        }

        &:hover .cats-item__name
        {
            opacity: .7;
        }
    }

    &-1:checked ~ .cats .cats_cat-1,
    &-2:checked ~ .cats .cats_cat-2,
    &-3:checked ~ .cats .cats_cat-3,
    &-4:checked ~ .cats .cats_cat-4
    {
        filter: none;
        box-shadow: inset 0 0 0 rgba(0,0,0,0)
            , 0 0 4px rgba(133, 133, 134, .5);
        opacity: 1;

        &:hover
        {
            box-shadow: 0 0 8px rgba(55,151,163,.7);
        }
    }

    &-1:checked ~ .main__nav .nav-cat-1,
    &-2:checked ~ .main__nav .nav-cat-2,
    &-3:checked ~ .main__nav .nav-cat-3,
    &-4:checked ~ .main__nav .nav-cat-4
    {
        background: #1db8ea;
    }
}

// FOOTER

.footer
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 54px;
    background: #333;
    border-bottom: 2px solid #1db8ea;
    overflow: hidden;

    &-wrap
    {
        flex: 1;
        min-height: 54px;
        position: relative;
    }

    & address,
    & span
    {
        line-height: 54px;
        font-size: 14px;
        font-family: 'Sofia';
    }

    & span
    {
        float: left;
        margin-left: 100px;
    }

    & address
    {
        float: right;
        margin-right: 100px;
    }
}
