html
{
    height: 100%;
}

body,
html
{
    margin: 0;
    min-height: 100%;
}

.body-with-footer
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hidden-input
{
    display: none;
}

.main-header
{
    height: 56px;
    background-color: #3f51b5;
    vertical-align: middle;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
    width: 100%;
}

.header-title
{
    color: white;
    text-align: center;
    margin: 8px;
}

.body-flex
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-element
{
    margin: 16px 8px;
}

.navigator
{
    min-width: 200px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.menu
{
    list-style-type: none;
    margin-bottom: 30px;
    padding: 0;
}

.menu-item
{
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 18px;
}

.menu-item:hover
{
    background-color: #3f51b5;
    color: white;
}

.menu-item:active
{
    background-color: #ff9100;
}

.images
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 700px;
    min-width: 650px;
}

.photo-box
{
    height: 200px;
    margin: 0 5px 10px;
    position: relative;
    overflow: hidden;
}

.photo-box:before {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
}

.hint
{
    position: absolute;
    background-color: #fff;
    padding: 16px 8px;
    border-radius: 5px;
    display: none;
}

.photo
{
    width: 100%;
    height: auto;
}

.photo:hover + .hint,
.hint:hover
{
    display: block;
    margin-top: -150px;
}

.img-small
{
    width: 200px;
}

.img-long
{
    width: 410px;
}

.img-longest
{
    width: 620px;
}

/*.block-box*/
/*{*/
    /*width: 100%;*/
    /*height: 200%;*/
    /*top: -200%;*/
    /*background-color: rgba(0, 0, 0, .7);*/
    /*position: relative;*/
/*}*/

.info
{
    min-width: 200px;
    width: 200px;
    align-self: flex-start;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

[id='category1']:checked ~ .navigator [for='category1'],
[id='category2']:checked ~ .navigator [for='category2'],
[id='category3']:checked ~ .navigator [for='category3'],
[id='category4']:checked ~ .navigator [for='category4']
{
    background-color: #ff9100;
    color: #fff;
}

.category1-selected:checked ~ .images .photo-box:nth-child(4n + 1),
.category2-selected:checked ~ .images .photo-box:nth-child(4n + 2),
.category3-selected:checked ~ .images .photo-box:nth-child(4n + 3),
.category4-selected:checked ~ .images .photo-box:nth-child(4n + 4)
{
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.category1-selected:checked ~ .images .photo-box:nth-child(4n + 1):before,
.category2-selected:checked ~ .images .photo-box:nth-child(4n + 2):before,
.category3-selected:checked ~ .images .photo-box:nth-child(4n + 3):before,
.category4-selected:checked ~ .images .photo-box:nth-child(4n + 4):before,
.non-selected:checked ~ .images .photo-box:before
{
    width: 0;
    height: 0;
    content: ' ';
}

.rating-title
{
    width: 100%;
}

.rating-categories
{
    display: flex;
    flex-direction: column;
}

.sort-toggle:checked ~ .rating-categories .rating-category1
{
    order: 1;
}

.sort-toggle:checked ~ .rating-categories .rating-category2
{
    order: 3;
}

.sort-toggle:checked ~ .rating-categories .rating-category3
{
    order: 4;
}

.sort-toggle:checked ~ .rating-categories .rating-category4
{
    order: 2;
}

.rating
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating-bar
{
    width: 150px;
    height: 4px;
    border-radius: 2px;
    background: linear-gradient(to right, #fff, #4caf50);
}

{
    width: 30px;
    background: linear-gradient(to right, #fff, #f44336);
}

.rating-status-3
{
    width: 45px;
    background: linear-gradient(to right, #fff, #f44336);
}

.rating-status-5
{
    width: 75px;
    background: linear-gradient(to right, #fff, #ffeb3b);
}

.rating-status-7
{
    width: 105px;
    background: linear-gradient(to right, #fff, #8bc34a);
}

footer
{
    height: 100px;
    background-color: #424242;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link
{
    color: #fff;
    font-weight: 600;
}
