header
{
    text-align: center;
    font-size: 400%;
    margin-bottom: 50px;
}

html
{
    height: 100%;
}

body
{
    background: #e3e3e3;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main
{
    flex-grow: 1;
}

.breeds label
{
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid #000;
}

.breed
{
    display: none;
}

.breed:checked ~ .cat-cards .card
{
    background: #e3e3e3;
    opacity: .5;
}

.bengal-breed:checked ~ .cat-cards .bengal-card,
.neva-breed:checked ~ .cat-cards .neva-card,
.somali-breed:checked ~ .cat-cards .somali-card,
.turkish-breed:checked ~ .cat-cards .turkish-card
{
    background: initial;
    opacity: initial;
}

.bengal-breed:checked ~ .breeds .bengal-label,
.neva-breed:checked ~ .breeds .neva-label,
.somali-breed:checked ~ .breeds .somali-label,
.turkish-breed:checked ~ .breeds .turkish-label
{
    background: #404040;
}

.bengal-label:hover,
.neva-label:hover,
.somali-label:hover,
.turkish-label:hover
{
    cursor: pointer;
}

.assortment
{
    display: flex;
    width: 100%;
    min-width: 800px;
}

.breeds
{
    display: flex;
    flex-direction: column;
    width: 16%;
    background: #bfbfbf;
    margin: 0 1% 1%;
}

.cat-cards
{
    display: flex;
    width: 68%;
    flex-wrap: wrap;
    margin: -.75% 0 .25%;
}

.card
{
    position: relative;
    margin: 1%;
    height: 400px;
}

.raiting
{
    display: flex;
    flex-direction: column;
    width: 16%;
    background: #bfbfbf;
    margin: 0 1% 1%;
    padding: 1%;
    height: 100%;
}

.info
{
    display: none;
}

.card img
{
    width: 100%;
    height: 100%;
}

.card:hover .info
{
    display: block;
    position: absolute;
    left: 0;
    bottom: 10%;
    background: #545454;
    opacity: .75;
    color: #fff;
    padding: 3%;
    border-radius: 0 10px 10px 0;
}

.card:nth-of-type(8n + 1),
.card:nth-of-type(8n + 3),
.card:nth-of-type(8n + 4),
.card:nth-of-type(8n + 5),
.card:nth-of-type(8n + 7)
{
    width: 31%;
}

.card:nth-of-type(8n + 2),
.card:nth-of-type(8n + 6)
{
    width: 64%;
}

.card:nth-of-type(8n)
{
    width: 97%;
}

footer
{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    border-top: 1px solid #000;
    padding: 1%;
    align-items: center;
}

.raiting-title
{
    font-size: 25px;
    color: #b80f0f;
}

.name
{
    font-size: 150%;
}

.breed-raiting .stats
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.mark
{
    font-size: 200%;
}

.breed-raiting .bar
{
    height: 40px;
    border: 1px solid #000;
}

.bengal-raiting .bar
{
    background: linear-gradient(to right, rgba(255,234,0,1) 0%,
    rgba(255,238,48,1) 25%, rgba(252,239,98,1) 51%,
    rgba(250,239,142,1) 77%, rgba(255,255,255,1) 100%);
    width: 56%;
}

.neva-raiting .bar
{
    background: linear-gradient(to right, rgba(230,19,0,1) 0%,
    rgba(240,76,57,1) 17%, rgba(240,77,56,1) 31%, rgba(230,87,69,1) 50%,
    rgba(241,111,92,1) 62%, rgba(240,168,158,1) 85%, rgba(255,255,255,1) 100%);
    width: 35%;
}

.somali-raiting .bar
{
    background: linear-gradient(to right, rgba(255,234,0,1) 0%,
    rgba(255,238,48,1) 25%, rgba(252,239,98,1) 51%,
    rgba(250,239,142,1) 77%, rgba(255,255,255,1) 100%);
    width: 49%;
}

.turkish-raiting .bar
{
    background: linear-gradient(to right, rgba(0,171,20,1) 0%,
    rgba(33,173,50,1) 23%, rgba(67,173,78,1) 50%,
    rgba(133,179,137,1) 76%, rgba(242,242,242,1) 100%);
    width: 70%;
}

.raiting label
{
    font-size: 130%;
}

.descending:checked ~ .turkish-raiting
{
    order: 1;
}

.descending:checked ~ .bengal-raiting
{
    order: 2;
}

.descending:checked ~ .somali-raiting
{
    order: 3;
}

.descending:checked ~ .neva-raiting
{
    order: 4;
}
