body
{
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header
{
    text-align: center;
    font: 2rem sans-serif;
}

.shop
{
    display: flex;
    margin: auto;
}

main
{
    display: flex;
    flex-basis: 60%;
    flex-wrap: wrap;
}

.species
{
    display: flex;
    height: 78px;
    border-bottom: 1px #8d8a8a solid;
    text-align: center;
    flex-direction: column;
    font: 1.5rem sans-serif;
}

.species:hover
{
    background-color: #5a5a5a;
}

.cat
{
    height: 360px;
    margin: 0 .5% .5%;
    overflow: hidden;
    position: relative;
    opacity: .3;
    z-index: -1;
}

.description
{
    visibility: hidden;
}

footer
{
    width: 99%;
    margin-top: 40px;
    border-top: 1px #7c7c7c solid;
}

.left-menu
{
    flex-basis: 20%;
    min-height: 74vh;
    background-color: #d9d9d9;
}

.left-menu label span
{
    margin: 1em;
}

.right-menu
{
    flex-basis: 22%;
    align-self: flex-start;
    background-color: #d9d9d9;
    display: flex;
    min-width: 170px;
    flex-direction: column;
    font-size: 1.2rem;

}

main div:nth-of-type(8n + 1),
main div:nth-of-type(8n + 3),
main div:nth-of-type(8n + 5),
main div:nth-of-type(8n + 7)
{
    width: 32%;
}

main div:nth-of-type(8n + 4)
{
    width: 33%;
}

main div:nth-of-type(8n + 2),
main div:nth-of-type(8n + 6)
{
    width: 66%;
}

main div:nth-of-type(8n + 8)
{
    width: 100%;
}

.cat-foto
{
    object-fit: cover;
    min-width: 100%;
    height: 100%;
}

.cat p
{
    background: #ababab;
    color: #fff;
    display: none;
    padding: 13px;
    position: absolute;
    text-align: center;
    top: 75%;
}

.cat:hover p
{
    display: block;
}

input[id='abyssinian']:checked ~ .shop main [class^='cat abyssinian'],
input[id='british']:checked ~ .shop main [class^='cat british'],
input[id='russian-blue']:checked ~ .shop main [class^='cat russian-blue'],
input[id='siamese']:checked ~ .shop main [class^='cat siamese'],
input[id='all']:checked ~ .shop main [class^='cat']
{
    opacity: 1;
    z-index: 0;
}

input[id='abyssinian']:checked ~ .shop .left-menu label:nth-of-type(1),
input[id='british']:checked ~ .shop .left-menu label:nth-of-type(2),
input[id='russian-blue']:checked ~ .shop .left-menu label:nth-of-type(3),
input[id='siamese']:checked ~ .shop .left-menu label:nth-of-type(4)
{
    background: #5a5a5a;
}

input[type='radio']
{
    display: none;
}

address
{
    float: right;
    margin-top: 16px;
    color: #1634a3;
}

footer p
{
    float: left;
}

.view-rating
{
    float: left;
    height: 25px;
}

.right-menu h2
{
    color: #db0606;
    font-family: sans-serif;
    margin-left: 20px;
}

.right-menu section
{
    align-self: flex-end;
    margin-right: 5%;
}

.right-menu input
{
    display: none;
}

.right-menu section label:nth-of-type(3)
{
    display: none;
}

input[id='lower']:checked ~ section label:nth-of-type(2)
{
    display: none;
}

input[id='lower']:checked ~ section label:nth-of-type(3)
{
    display: initial;
}

.count-rating
{
    float: right;
    margin-top: 3px;
}

.breed
{
    width: 90%;
    margin: auto;
}

.rating10 .view-rating
{
    background: linear-gradient(to right, #01e86e, #fff);
    width: 85%;
    border: 1px solid #00b153;
}

.rating9 .view-rating
{
    background: linear-gradient(to right, #01e86e, #fff);
    width: 80%;
    border: 1px solid #00b153;
}

.rating8 .view-rating
{
    background: linear-gradient(to right, #01e86e, #fff);
    width: 70%;
    border: 1px solid #00b153;
}

.rating7 .view-rating
{
    background: linear-gradient(to right, #fff601, #fff);
    width: 60%;
    border: 1px solid #c3bc00;
}

.rating6 .view-rating
{
    background: linear-gradient(to right, #fff601, #fff);
    width: 55%;
    border: 1px solid #c3bc00;
}

.rating5 .view-rating
{
    background: linear-gradient(to right, #fff601, #fff);
    width: 50%;
    border: 1px solid #c3bc00;
}

.rating4 .view-rating
{
    background: linear-gradient(to right, #e80802, #fff);
    width: 40%;
    border: 1px solid #ba0803;
}

.rating3 .view-rating
{
    background: linear-gradient(to right, #e80802, #fff);
    width: 30%;
    border: 1px solid #ba0803;
}

.rating2 .view-rating
{
    background: linear-gradient(to right, #e80802, #fff);
    width: 20%;
    border: 1px solid #ba0803;
}

.rating1 .view-rating
{
    background: linear-gradient(to right, #e80802, #fff);
    width: 10%;
    border: 1px solid #ba0803;
}

input[id='lower']:checked ~ .rating10
{
    order: 1;
}

input[id='lower']:checked ~ .rating9
{
    order: 2;
}

input[id='lower']:checked ~ .rating8
{
    order: 3;
}

input[id='lower']:checked ~ .rating7
{
    order: 4;
}

input[id='lower']:checked ~ .rating6
{
    order: 5;
}

input[id='lower']:checked ~ .rating5
{
    order: 6;
}

input[id='lower']:checked ~ .rating4
{
    order: 7;
}

input[id='lower']:checked ~ .rating3
{
    order: 8;
}

input[id='lower']:checked ~ .rating2
{
    order: 9;
}

input[id='lower']:checked ~ .rating1
{
    order: 10;
}

input:first-child
{
    position: absolute;
    margin: 5px;
}

label[for='grid-enable']
{
    position: absolute;
    margin: 1px 5px 5px 20px;
}

input[id='grid-enable']:checked ~ .shop
{
    display: grid;
    min-width: 960px;
    margin: initial;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto 100%;
    grid-template-areas: 'l m r'
        'l m j';
}

input[id='grid-enable']:checked ~ .shop .left-menu
{
    grid-area: l;
}

input[id='grid-enable']:checked ~ .shop main
{
    grid-area: m;
    width: 100%;
    display: grid;
    grid-template-columns: 5px calc(33.33% - 7px) 5px calc(33.33% - 7px)
        5px calc(33.33% - 7px) 5px;
}

input[id='grid-enable']:checked ~ .shop .right-menu
{
    grid-area: r;
}

input[id='grid-enable']:checked ~ .shop main div
{
    width: 100%;
}

input[id='grid-enable']:checked ~ .shop main div:nth-of-type(8n + 1)
{
    grid-area: 1 / 2 / 1 / 2;
}

input[id='grid-enable']:checked ~ .shop main div:nth-of-type(8n + 2)
{
    grid-area: 1 / 4 / 1 / 7;
}

input[id='grid-enable']:checked ~ .shop main div:nth-of-type(8n + 3)
{
    grid-area: 2 / 2 / 2 / 2;
}

input[id='grid-enable']:checked ~ .shop main div:nth-of-type(8n + 4)
{
    grid-area: 2 / 4 / 2 / 4;
}

input[id='grid-enable']:checked ~ .shop main div:nth-of-type(8n + 5)
{
    grid-area: 2 / 6 / 2 / 7;
}

input[id='grid-enable']:checked ~ .shop main div:nth-of-type(8n + 6)
{
    grid-area: 3 / 2 / 3 / 5;
}

input[id='grid-enable']:checked ~ .shop main div:nth-of-type(8n + 7)
{
    grid-area: 3 / 6 / 3 / 7;
}

input[id='grid-enable']:checked ~ .shop main div:nth-of-type(8n + 8)
{
    grid-area: 4 / 2 / 4 / 7;
}
