html,
body
{
    padding: 0;
    margin: 0;
    background: #e5e5ec;
}

header
{
    text-align: center;
    font: 38px 'Russo One', sans-serif;
    margin: 20px 0;
    text-transform: capitalize;
}

main
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

footer
{
    border-top: 1px solid #000;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    justify-content: space-between;
}

.address
{
    color: #487eff;
}

nav
{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    background: #bdbdc2;
    flex-basis: 300px;
    margin: 5px;
}

.cat-nav
{
    font: 15px normal, Arial, sans-serif;
    border-bottom: 1px solid #000;
    padding: 10px;
    box-shadow: 1px 0 2px 1px #fff;
}

.cat-nav:hover
{
    background: #45454a;
    cursor: default;
    color: #fff;
}

.cat-album
{
    margin: 0 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 930px;
    min-width: 930px;
}

.rating
{
    align-self: flex-start;
    display: flex;
    background: #bcbfbd;
    flex-direction: column;
    align-content: flex-start;
    flex-basis: 300px;
    margin: 5px;
}

.rating > h1
{
    text-transform: uppercase;
    color: #c21717;
    font: 20px normal, Arial, sans-serif;
    margin: 3px 5px ;
}

.rating > div
{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 5px;
}

.order-checkbox
{
    align-self: flex-start;
    margin-top: -15px;
    margin-left: 100px;
}

.rating-name
{
    width: 100%;
}

.rating-scale
{
    width: 70%;
    margin: 5px;
}

.rating-some
{
    height: 10px;
}

input[value='10'] + .rating-info .rating-some
{
    width: 100%;
    background: linear-gradient(to left, #fff, #28bf30 50%);
}

input[value='9'] + .rating-info .rating-some
{
    width: 90%;
    background: linear-gradient(to left, #fff, #28bf30 50%);
}

input[value='8'] + .rating-info .rating-some
{
    width: 80%;
    background: linear-gradient(to left, #fff, #ffff48 50%);
}

input[value='7'] + .rating-info .rating-some
{
    width: 70%;
    background: linear-gradient(to left, #fff, #ffff48 50%);
}

input[value='6'] + .rating-info .rating-some
{
    width: 60%;
    background: linear-gradient(to left, #fff, #ffff48 50%);
}

input[value='5'] + .rating-info .rating-some
{
    width: 50%;
    background: linear-gradient(to left, #fff, #ffff48 50%);
}

input[value='4'] + .rating-info .rating-some
{
    width: 40%;
    background: linear-gradient(to left, #fff, #f00 50%);
}

input[value='3'] + .rating-info .rating-some
{
    width: 30%;
    background: linear-gradient(to left, #fff, #f00 50%);
}

input[value='2'] + .rating-info .rating-some
{
    width: 20%;
    background: linear-gradient(to left, #fff, #f00 50%);
}

input[value='1'] + .rating-info .rating-some
{
    width: 10%;
    background: linear-gradient(to left, #fff, #f00 50%);
}

.order-checkbox:checked ~ input[value='10'] + .rating-info
{
    order: 0;
}

.order-checkbox:checked ~ input[value='9'] + .rating-info
{
    order: 1;
}

.order-checkbox:checked ~ input[value='8'] + .rating-info
{
    order: 2;
}

.order-checkbox:checked ~ input[value='7'] + .rating-info
{
    order: 3;
}

.order-checkbox:checked ~ input[value='6'] + .rating-info
{
    order: 4;
}

.order-checkbox:checked ~ input[value='5'] + .rating-info
{
    order: 5;
}

.order-checkbox:checked ~ input[value='4'] + .rating-info
{
    order: 6;
}

.order-checkbox:checked ~ input[value='3'] + .rating-info
{
    order: 7;
}

.order-checkbox:checked ~ input[value='2'] + .rating-info
{
    order: 8;
}

.order-checkbox:checked ~ input[value='1'] + .rating-info
{
    order: 9;
}

.cat-plate
{
    height: 250px;
    overflow: hidden;
    position: relative;
}

.cat-info
{
    display: none;
    position: absolute;
    padding: 10px;
    bottom: 10px;
    left: 10px;
    color: #fff;
    background: rgba(0, 0, 0, .5) ;
    font: 20px normal, Arial, sans-serif;
}

.cat-plate:hover > .cat-info
{
    display: block;
}

input[type='text'],
input[type='radio'],
input[class|='cat-checkbox']
{
    display: none;
}

.img2 > img,
.img3 > img
{
    position: relative;
    min-width: 100%;
    max-width: 100%;
}

.img1 > img
{
    height: 100%;
}

.img1
{
    flex-basis: 300px;
    border: 5px solid #e5e5ec;
    background: #69ba6d;
}

.img2
{
    flex-basis: 610px;
    border: 5px solid #e5e5ec;
    background: #ba87b4;

}

.img3
{
    flex-basis: 920px;
    border: 5px solid #e5e5ec;
    background: #6193ba;
}

.img2 > img
{
    top: -50px;
}

.img3 > img
{
    top: -150px;
}

input[class|='cat-checkbox']:checked ~ .cat-album > .cat-plate
{
    opacity: .5;
}

.cat-checkbox-type1:checked ~ nav > .nav-type1,
.cat-checkbox-type2:checked ~ nav > .nav-type2,
.cat-checkbox-type3:checked ~ nav > .nav-type3,
.cat-checkbox-type4:checked ~ nav > .nav-type4
{
    background: #45454a;
    color: #fff;
}

.cat-checkbox-type1:checked ~ .cat-album > .cat-plate.type1,
.cat-checkbox-type2:checked ~ .cat-album > .cat-plate.type2,
.cat-checkbox-type3:checked ~ .cat-album > .cat-plate.type3,
.cat-checkbox-type4:checked ~ .cat-album > .cat-plate.type4
{
    opacity: 1;
}
