body
{
    min-width: 600px;
    background-color: #e6e6e6;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer,
main
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
}

h1
{
    text-align: center;
    font-size: 45px;
}

h2
{
    font-size: 25px;
    font-weight: 300;
    color: #c00;
    margin: 5px 0 0 5px;
}

nav
{
    align-self: stretch;
}

nav,
aside
{
    background-color: #d7d7d7;
    font-size: 1.5em;
    flex-grow: 1;
    margin: 0 5px;
}

.photos
{
    width: 70%;
}

aside
{
    display: flex;
    flex-direction: column;
}

input
{
    display: none;
}

nav label
{
    cursor: pointer;
}

nav div
{
    padding: 10px;
}

aside .order,
aside .breed
{
    padding: 10px;
}

input:checked ~ .photos .line div
{
    opacity: .3;
}

nav hr
{
    margin: 0;
}

nav
{
    margin-bottom: 10px;
}

input.curl:checked ~ div div .curl,
input.brit:checked ~ div div .brit,
input.rus-blue:checked ~ div div .rus-blue,
input.korat:checked ~ div div .korat
{
    opacity: 1;
}

input.curl:checked ~ nav .curl,
input.brit:checked ~ nav .brit,
input.rus-blue:checked ~ nav .rus-blue,
input.korat:checked ~ nav .korat
{
    background: gray;
    color: white;
}

.photos .line
{
    display: flex;
}

.line div
{
    box-sizing: border-box;
    display: block;
    position: relative;
    overflow: hidden;
    border-top: 0;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
}

.cell-1-3
{
    width: 33.33%;
}

.cell-2-3
{
    width: 66.66%;
}

.cell-1
{
    width: 100%;
}

input:not(:checked)
 + input:not(:checked)
 + input:not(:checked)
 + input:not(:checked) ~ div .line div:hover::after,
.curl:checked ~ div .curl:hover::after,
.rus-blue:checked ~ div .rus-blue:hover::after,
.korat:checked ~ div .korat:hover::after,
.brit:checked ~ div .brit:hover::after
{
    position: absolute;
    content: attr(title);
    z-index: 6;
    bottom: 10%;
    font-size: 30px;
    color: white;
    padding: 15px 10px;
    background: rgba(151, 153, 151, .7);
}

img
{
    object-fit: fill;
    width: 100%;
}

.rating-color
{
    height: 20px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.nine .curl
{
    background: linear-gradient(to right, #090, #fff);
    width: 90px;
}

.ten .korat
{
    background: linear-gradient(to right, #090, #fff);
    width: 100px;
}

.seven .brit
{
    background: linear-gradient(to right, #ff0, #fff);
    width: 70px;
}

.four .rus-blue
{
    background: linear-gradient(to right, #f00, #fff);
    width: 40px;
}

.rating input:checked ~ .nine
{
    order: 2;
}

.rating input:checked ~ .ten
{
    order: 1;
}

.rating input:checked ~ .seven
{
    order: 4;
}

.rating input:checked ~ .four
{
    order: 7;
}

.rating input:checked ~ .order label.checkbox
{
    background-color: gray;
}

.order
{
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.order div
{
    font-size: .7em;
    margin-left: 5px;
}

.order > label.checkbox
{
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    cursor: pointer;
    content: ' ';
    margin-left: 5px;
}

.address
{
    color: #007399;
}
